@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    width: 100%;
  }

  @container (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  @container (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @container (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  @container (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

  @container (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }
}

@import "./daisy.light.css";
@import "./daisy.dark.css";
